
@{
    ViewBag.Title = "ViewTest";
}

<h1>ViewTest</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Try1</h2>
        <p>
            Font edited.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Try2</h2>
        <p>
            Color changed.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Try3</h2>
        <p>
            Background modified.
        </p>
    </div>
</div>

<style>
    body {
        color: white;
        background: black;
        font-family: Helvetica;
    }
</style>